 :root {
  --main-color: #1e1e1e;
  /* --second-color: #121212; */
  --second-color: #121212;
  --third-color: #333;
  --fourh-color: #444;
  --fitfh-color: #555;
  --sixth-color: #007bff;
  --font-size: 16px;
}

* {
  transition: ease-in 500ms;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  background: var(--second-color);
  color: white;
}
.chat-content {
  flex: 8 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-container {
  flex: 4 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  background: var(--second-color);
}
.chat-container-msg {
  display: flex;
  padding: 16px;
  flex-direction: column;
  overflow-y: auto;
  background: var(--second-color);
}
.message {
  max-width: 85%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  position: relative;
}
.message p{
  white-space: pre-line;
  margin: 0px;
}
.message.bot p{
  white-space: pre-line;
  margin: 0px 40px 0px 0px;
}
.user {
  align-self: flex-end;
  background: var(--sixth-color);
  color: white;
}
.bot {
  align-self: flex-start;
  background: var(--third-color);
  color: white;
}
.inputs-container {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background: #222;
  border-top: 1px solid var(--fourh-color);
}
.input-wrap-container {
  height: 8rem;
  max-height: 12rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #222;
}
.chat-input {
  min-height: 6rem;
  max-height: 10rem;
  overflow-y: auto;
  resize: none;
}
.send{
  background-color: transparent;
  border-radius: 100%;
}
.message-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.option-btn{
  transition: all 100ms;
  background-color: transparent;
  color: #ffffff66;
}
.option-btn.active, .option-btn:hover{
  transition: all 100ms;
  background-color: transparent;
  color: #fff;
}
a{
  text-decoration: none;
  /* color: white !important; */
}
input, textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--fitfh-color);
  border-radius: 4px;
  background: var(--third-color);
  color: white;
}
button {
  margin-left: 10px;
  padding: 10px;
  background: var(--sixth-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.history-container {
  width: 80px;
  background: #2a2a2a;
  text-align: center;
}
.history-container.show {
  flex: 2 250px;
  height: calc(99.9% - 1rem);
  padding: 1rem 10px 0px 10px;
  border-bottom: 1px solid var(--fourh-color);
}
.history-item {
  margin: 0.5rem;
  padding: 8px;
  border-radius: 4px;
  background: var(--third-color);
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 12px;
}

.filter {
  width: 0%;
}

.filter.show {
  width: 80%;
}

.sidebar {
  opacity: 0;
  background: #2a2a2a;
}
.sidebar.show {
  opacity: 1;
  padding: 0;
  width: 100%;
  height: 100%;
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.center-content{
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.login-container{
  height: 4rem;
  padding: 3rem 0;
  border-radius: 15px;
  font-size: 2rem;
  background-color: white;
  font:2.5rem Fira Sans,sans-serif;
}

.login-img{
  background-image: url("../assets/background-artificial-intelligence.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

}
.max{
  width: 100%; 
  height: 100%;
}

code {
  display: block;
  background-color: #282c34;
  color: #abb2bf;
  padding: 15px;
  border-radius: 8px;
  font-family: "Courier New", monospace;
  white-space: pre-wrap; /* Mantiene los saltos de línea */
  word-wrap: break-word;
  overflow-x: auto;
}

.code-container {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    color: var(--main-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}


.absulo {
    position: absolute;
}

.copy-btn:hover {
    background: #21a1f1;
}

/* input file multiple */
.preview-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.preview-wrapper{
  max-height: 6rem;
  position: relative;
}
.preview{
  max-height: 5rem;
}
.delete-btn-img{
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: rgb(229, 0, 0);
  border: none;
  padding: 3px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 15px;
}
multiple-file-input{
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}